body {
    margin: auto;
    background-color: #1271ee;
}
header {
    min-width: 500px;
    max-height: 500px;
}
.cabecalho {
    background-color: #408ff7;
    color: rgb(250, 109, 28);
    text-align: center;
}

button {
    border-radius: 20px;
    border:#010090 2px solid;
    background-color: rgb(250, 109, 28);
    color: #fff;
    
}
h1, h2 {
    font-family: cursive;
    color: rgb(250, 109, 28);
    text-align: center;
    text-shadow: -2px 0 #010090, 0 1px #010090,
    1px 0 #010090, 0 -2px #010090;
}

h2 {
    font-family: cursive;
    font-weight: bolder;
    color: rgb(250, 109, 28);
    border-bottom: 2px, solid, #010090;
    display: flexbox;
    text-align: center;
}

p{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.caixa1{
    background-color: #408ff7;
    border: #010090 solid 3px;
}
.prime {
    display: inline-block;
    padding: 26px;
    flex-direction: column;
}
.prime2 {
    display: inline-block;
    padding: 26px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.prime3 {
    display: inline-block;
    padding: 26px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.image {
    margin: auto;
    padding: 30px;
}
.botao{
    justify-items:auto;
    padding-bottom: 20px;
    padding-left: 125px;
}

.caixa-fim {
    padding-top: 10px;
    background-color: #408ff7;
    width: 1345px;
    height: 100px;
    font-family:arial ;
    font-size: 25px;
    color: rgb(250, 109, 28);
    text-align: center;
    text-shadow: -2px 0 #010090, 0 1px #010090,
    1px 0 #010090, 0 -2px #010090;
}
.logo {
    padding-top: 10px;
}
footer {
    background-color: #010090;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}